<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>planet</title>
  
  
  
      <link rel="stylesheet" href="style.css">

  
</head>

<body>
  

  <canvas id="starfield" width="2000" height="2000"></canvas>

<div class="planet-container">
  <div class="planet">
    <div class="halo1"></div>
    <div class="halo2"></div>
    <span class="msg">Matching <br>planets</span>
  </div>
</div>

<button class="scrollToB">Jouer l'animation</button>
 

  

    <script  src="index.js"></script>




</body>

</html>
