<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="http://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet" type="text/css">

	<link rel="stylesheet" href="reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="style.css"> <!-- Resource style -->
	<script src="modernizr.js"></script> <!-- Modernizr -->
  	
	<title>namaste.fuxkers</title>
</head>
<body>
	<section class="cd-section">
    
		<div class="cd-block">
      
			<h1>Ashish Asari</h1>
      
		</div>
	</section> <!-- .cd-section -->

	<section class="cd-section">
		<div class="cd-block">
			<div class="cd-half-block"></div>

			<div class="cd-half-block">
				<p>
					Let art get you through the dark
				</p>
			</div>
		</div>
	</section> <!-- .cd-section -->

	<section class="cd-section">
		<div class="cd-block">
			<div class="cd-half-block"></div>

			<div class="cd-half-block">
				<p>
					Art is Freedom 
				</p>
			</div>
		</div>
	</section> <!-- .cd-section -->

	<section class="cd-section">
		<div class="cd-block">
			<div class="cd-half-block"></div>

			<div class="cd-half-block">
				<p>
					Do you consider yourself an artist person?
				</p>
			</div>
		</div>
	</section> <!-- .cd-section -->
  
  <section class="cd-section">
		<div class="cd-block">
			<div class="cd-half-block"></div>

			<div class="cd-half-block">
				<h1>
					Contact <br> <br> -  9929298858  -
          <br><br><br>
          Instagram <br> <br> - namaste.fuxkers -
 				</h1>
			</div>
		</div>
	</section> <!-- .cd-section -->

	<nav>
		<ul class="cd-vertical-nav">
			<li><a href="#0" class="cd-prev inactive">Next</a></li>
			<li><a href="#0" class="cd-next">Prev</a></li>
		</ul>
	</nav> <!-- .cd-vertical-nav -->
<script src="jquery-2.1.1.js"></script>
<script src="main.js"></script> <!-- Resource jQuery -->
</body>
</html>